body {
    background-color: rgba(245, 245, 245, 0.527);
}
#container {
    width: 50%;
    margin: auto;
}

#title {
    margin-bottom: 67px;
}

#title h1{
    text-align: center ;
    width: 100%;
    font-family: 'Jost', sans-serif;
    font-size: 50px;
}
hr {
    width: 130px;
    border: 1px solid rgb(255, 194, 81);
}   
#content {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
}

#phone {
    width: 40%;
}

#phone img {
    width: 100%;
}

#rightSide {
    padding-left: 30px;
    font-family: 'Roboto', sans-serif;
}

.item {
    margin-bottom: 30px;
    font-size: 25px;
    margin-left: 120px;
    display: flex;
    /* justify-content: center; */
}
.item img {
    width: 55px;
    height: 55px;
    transform: translateY(50%) ;
    margin-right: 30px;
}
#store {
    /* border: 1px solid; */
    margin-left: 120px;
    display: flex;
}
#store img{
    width: 172px;
    margin: 5px;
    height: 60px;
}